.idea/
.vs/
*.files
*.mdb
*.nupkg
*.orig
*.pidb
*.resources
*.suo
*.user
*.userprefs
*.xlf
*~
*ReSharper*
build/old
CopyTo*WeSay*.bat
Download/
L10NSharp.dll
launchSettings.json
lib/$(Configuration)
lib/Chorus_Help.chm
Mercurial/
mercurial/
MercurialExtensions/
NuGet.exe
nuget.exe
obj/
output/
packages/
riderModule.iml
/bin/
src/LibChorus/icu4c.readme.txt
test-results
