build/NuGet.exe
CopyToWeSay.bat
output/
obj/
_Resharper*
Debug/
DebugMono/
Release/
ReleaseMono/
_ReSharper.Chorus VS2008/
*.suo
*.user
CopyToWeSayDev.bat
lib/Palaso.TestUtilities.pdb
*~
*.pidb
Mercurial/*
mercurial/*
*ReSharper*
build/old
lib/$(Configuration)
*.resources
*.userprefs
src/Chorus.Tests/bin/*
src/ChorusMerge.Tests/bin/*
src/SampleApp/bin/*
CopyTo Dev WeSay.bat
MercurialExtensions/fixutf8/*.pyc
MercurialExtensions/fixutf8/cpmap.pyo
MercurialExtensions/fixutf8/cpmap.py
test-results
*.mdb
src/LibChorusTests/test-results/LibChorus.Tests.csproj.test-cache
**.orig
Download/
L10NSharp.dll
lib/Chorus_Help.chm
packages/
.idea/
riderModule.iml
src/LibChorus/icu4c.readme.txt