<?xml version="1.0" encoding="UTF-8"?>
<!-- These variables define the Windows Installer product version, product code and upgrade code. They   -->
<!-- will be used later on in this file.                                                                 -->
<?define Property_ProductVersion = ".*" ?>

<!-- good intro to the component vs. file thing, and why each file here is a separate component:
http://blogs.msdn.com/robmen/archive/2003/10/04/56479.aspx -->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Module Id="BasicChorusMergeModule" Language="1033" Version="$(var.Property_ProductVersion)">
		<Package Id="59c055f3-e87e-4101-bc70-87ab07d4f26f" Manufacturer="SIL" InstallerVersion="200" />

	<Directory Id="TARGETDIR" Name="SourceDir">
	  <Directory Id="MergeRedirectFolder">
		<Directory Id="mercurial" Name="mercurial">
		  <Component Id="mercurial.ini" Guid="FA715224-9B87-44a4-B6D3-18EC40712266">
			<File Id="mercurial.ini" Name="mercurial.ini" Source="..\..\mercurial\mercurial.ini" />
			<IniFile Id="mercurial.ini_extension_fixutf8"
				   Action="addLine"
				   Directory="mercurial"
				   Section="extensions"
				   Name="mercurial.ini"
				   Key="fixutf8"
				   Value="[#fixutf8.py]" />
		  </Component>

		  <!-- This will be filled in by the generated fragment GeneratedMercurial.wxs -->
		</Directory>

		<Component Id="chorushelp.chm" Guid="C1EDE2E0-E382-11DE-8A39-0800200C9A66">
		  <File Id="chorushelp.chm" Name="Chorus_Help.chm" KeyPath="yes" Source="..\..\lib\Chorus_Help.chm"/>
		</Component>

		<Directory Id="MercurialExtensions" Name="MercurialExtensions">
		  <!-- This will be filled in by the generated fragment GeneratedMercurialExtensions.wxs -->
		</Directory>

	  </Directory>
	</Directory>
	<ComponentGroupRef Id="Mercurial"/>
	<ComponentGroupRef Id="MercurialExtensions"/>
	<ComponentRef Id="mercurial.ini" />
	<ComponentRef Id="chorushelp.chm" />
  </Module>
</Wix>
