<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="MercurialExtensions">
            <Directory Id="MercurialExtensions.fixutf8" Name="fixutf8">
                <Component Id="MercurialExtensions.fixutf8.fixutf8.py" Guid="4E259FD4-1C1D-4DD9-98D3-E11F75BCD354">
                    <File Id="MercurialExtensions.fixutf8.fixutf8.py" Name="fixutf8.py" KeyPath="yes" Source="..\..\MercurialExtensions\fixutf8\fixutf8.py" />
                    <RemoveFile Id="_8c93c0de9eab463c8f71610b1eddb59b" On="both" Name="*.*" />
                </Component>
                <Component Id="MercurialExtensions.fixutf8.osutil.py" Guid="3FDCFA06-1BEE-479A-B62C-81C4A59580D5">
                    <File Id="MercurialExtensions.fixutf8.osutil.py" Name="osutil.py" Source="..\..\MercurialExtensions\fixutf8\osutil.py" />
                    <RemoveFile Id="_bc85669d25044112b9efee1c55428fde" On="both" Name="*.*" />
                </Component>
                <Component Id="MercurialExtensions.fixutf8.README" Guid="258101CF-9BE2-4FA4-A9AB-2DECCC9DE2D1">
                    <File Id="MercurialExtensions.fixutf8.README" Name="README" Source="..\..\MercurialExtensions\fixutf8\README" />
                    <RemoveFile Id="_91ddfff5dc10475290d0140db0ff5712" On="both" Name="*.*" />
                </Component>
                <Component Id="MercurialExtensions.fixutf8.win32helper.py" Guid="8C8DC005-BE3F-4978-BE53-C15C275B721D">
                    <File Id="MercurialExtensions.fixutf8.win32helper.py" Name="win32helper.py" Source="..\..\MercurialExtensions\fixutf8\win32helper.py" />
                    <RemoveFile Id="_c94b0f826d2f4de7ada243883c371843" On="both" Name="*.*" />
                </Component>
                <Directory Id="MercurialExtensions.fixutf8.__pycache__" Name="__pycache__">
                    <Component Id="ensions.fixutf8.__pycache__.fixutf8.cpython_39.pyc" Guid="DE46E069-17C4-4E95-8FFE-73277E56016B">
                        <File Id="ensions.fixutf8.__pycache__.fixutf8.cpython_39.pyc" Name="fixutf8.cpython-39.pyc" KeyPath="yes" Source="..\..\MercurialExtensions\fixutf8\__pycache__\fixutf8.cpython-39.pyc" />
                        <RemoveFile Id="_835de013a0984dfdab40fe075cd7d83a" On="both" Name="*.*" />
                    </Component>
                    <Component Id="tensions.fixutf8.__pycache__.osutil.cpython_39.pyc" Guid="BAA3650E-AA08-4589-826B-31CD51F26780">
                        <File Id="tensions.fixutf8.__pycache__.osutil.cpython_39.pyc" Name="osutil.cpython-39.pyc" Source="..\..\MercurialExtensions\fixutf8\__pycache__\osutil.cpython-39.pyc" />
                        <RemoveFile Id="_2e4151bdc6244e189ca150f51d44950a" On="both" Name="*.*" />
                    </Component>
                    <Component Id="ons.fixutf8.__pycache__.win32helper.cpython_39.pyc" Guid="9C3E4DB0-C7F4-4BAB-B793-1C85DDACB13E">
                        <File Id="ons.fixutf8.__pycache__.win32helper.cpython_39.pyc" Name="win32helper.cpython-39.pyc" Source="..\..\MercurialExtensions\fixutf8\__pycache__\win32helper.cpython-39.pyc" />
                        <RemoveFile Id="_3e31120cfad14d80abaa139787737bde" On="both" Name="*.*" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
        <ComponentGroup Id="MercurialExtensions">
            <ComponentRef Id="MercurialExtensions.fixutf8.fixutf8.py" />
            <ComponentRef Id="MercurialExtensions.fixutf8.osutil.py" />
            <ComponentRef Id="MercurialExtensions.fixutf8.README" />
            <ComponentRef Id="MercurialExtensions.fixutf8.win32helper.py" />
            <ComponentRef Id="ensions.fixutf8.__pycache__.fixutf8.cpython_39.pyc" />
            <ComponentRef Id="tensions.fixutf8.__pycache__.osutil.cpython_39.pyc" />
            <ComponentRef Id="ons.fixutf8.__pycache__.win32helper.cpython_39.pyc" />
        </ComponentGroup>
    </Fragment>
</Wix>