<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="mercurial">
            <Component Id="mercurial.add_path.exe" Guid="D63A8C10-90B6-4843-9BCB-187366FEFED0">
                <File Id="mercurial.add_path.exe" Name="add_path.exe" KeyPath="yes" Source="..\..\mercurial\add_path.exe" />
                <RemoveFile Id="_d22be778a4cf4a6a83016ed0574231cf" On="both" Name="*.*" />
            </Component>
            <Component Id="mercurial.cacert.pem" Guid="6DF15B8B-194E-4322-936D-29AA8E693B89">
                <File Id="mercurial.cacert.pem" Name="cacert.pem" Source="..\..\mercurial\cacert.pem" />
                <RemoveFile Id="_728e1a17b32e4768aa7223741571d62b" On="both" Name="*.*" />
            </Component>
            <Component Id="mercurial.hg.exe" Guid="C65B2D2E-3705-4BA7-99D8-6B87FFB6CE81">
                <File Id="mercurial.hg.exe" Name="hg.exe" Source="..\..\mercurial\hg.exe" />
                <RemoveFile Id="_215aac47d6b64a29ad32b4f3703d9baf" On="both" Name="*.*" />
            </Component>
            <Component Id="mercurial.hg.exe.local" Guid="EE1D96EC-14B4-467F-BA2D-849962E49C73">
                <File Id="mercurial.hg.exe.local" Name="hg.exe.local" Source="..\..\mercurial\hg.exe.local" />
                <RemoveFile Id="_2521e3745d014b589026a74fd15b2683" On="both" Name="*.*" />
            </Component>
            <Component Id="mercurial.library.zip" Guid="30C62CEF-C4BB-4C02-A162-12A0649F790C">
                <File Id="mercurial.library.zip" Name="library.zip" Source="..\..\mercurial\library.zip" />
                <RemoveFile Id="_68797db8df72481abb090de8702a23f6" On="both" Name="*.*" />
            </Component>
            <Component Id="mercurial.Mercurial.url" Guid="FC11F10A-E025-4DB8-BB84-A28B4B06606D">
                <File Id="mercurial.Mercurial.url" Name="Mercurial.url" Source="..\..\mercurial\Mercurial.url" />
                <RemoveFile Id="_6a49c79550e849fa9aa9e41cbe808951" On="both" Name="*.*" />
            </Component>
            <Component Id="mercurial.Microsoft.VC90.CRT.manifest" Guid="E296637A-0C13-4FBA-A514-EA2A141FABEE">
                <File Id="mercurial.Microsoft.VC90.CRT.manifest" Name="Microsoft.VC90.CRT.manifest" Source="..\..\mercurial\Microsoft.VC90.CRT.manifest" />
                <RemoveFile Id="_b173fa6423074898b96a97d1509bff1e" On="both" Name="*.*" />
            </Component>
            <Component Id="mercurial.msvcm90.dll" Guid="A1887C96-D3C6-4833-8446-8CCC038F4F02">
                <File Id="mercurial.msvcm90.dll" Name="msvcm90.dll" Source="..\..\mercurial\msvcm90.dll" />
                <RemoveFile Id="_a42f5f61dbba48688748c34281360913" On="both" Name="*.*" />
            </Component>
            <Component Id="mercurial.msvcp90.dll" Guid="60EC2A57-8A66-4663-929A-2F9B4FF8A878">
                <File Id="mercurial.msvcp90.dll" Name="msvcp90.dll" Source="..\..\mercurial\msvcp90.dll" />
                <RemoveFile Id="_d574d71f26eb4c38b260ff4e172ed224" On="both" Name="*.*" />
            </Component>
            <Component Id="mercurial.msvcr90.dll" Guid="58201B58-B52B-4F05-9B4D-315BF9DE4CDD">
                <File Id="mercurial.msvcr90.dll" Name="msvcr90.dll" Source="..\..\mercurial\msvcr90.dll" />
                <RemoveFile Id="_f66593e299f540bc83487e64a71d6094" On="both" Name="*.*" />
            </Component>
            <Component Id="mercurial.python27.dll" Guid="5951AD1A-1ACF-41CA-8B5C-6C9048141C9A">
                <File Id="mercurial.python27.dll" Name="python27.dll" Source="..\..\mercurial\python27.dll" />
                <RemoveFile Id="_a37c41b4402f42388410e4b75010dff4" On="both" Name="*.*" />
            </Component>
            <Component Id="mercurial.w9xpopen.exe" Guid="E10BB6A7-1325-4AD3-B6A1-3F8869125D8F">
                <File Id="mercurial.w9xpopen.exe" Name="w9xpopen.exe" Source="..\..\mercurial\w9xpopen.exe" />
                <RemoveFile Id="_870a3eb6ca5943da86c63382e09492b3" On="both" Name="*.*" />
            </Component>
            <Directory Id="mercurial.Contrib" Name="Contrib">
                <Component Id="mercurial.Contrib.bash_completion" Guid="D560E908-33AA-4029-935E-6FE08C9778DC">
                    <File Id="mercurial.Contrib.bash_completion" Name="bash_completion" KeyPath="yes" Source="..\..\mercurial\Contrib\bash_completion" />
                    <RemoveFile Id="_3c99383a756f4cce8c61dcbd4d5a56b9" On="both" Name="*.*" />
                </Component>
                <Component Id="mercurial.Contrib.hgk.tcl" Guid="F92713AA-98D3-41BA-9783-AE54D396ED24">
                    <File Id="mercurial.Contrib.hgk.tcl" Name="hgk.tcl" Source="..\..\mercurial\Contrib\hgk.tcl" />
                    <RemoveFile Id="_b6fe894b7e9b40f5be2438160538e7b2" On="both" Name="*.*" />
                </Component>
                <Component Id="mercurial.Contrib.hgweb.fcgi" Guid="025233E4-0336-4E65-84D3-F3A21BC749B4">
                    <File Id="mercurial.Contrib.hgweb.fcgi" Name="hgweb.fcgi" Source="..\..\mercurial\Contrib\hgweb.fcgi" />
                    <RemoveFile Id="_ca6be4f470ac48888a534dbc8d8127e1" On="both" Name="*.*" />
                </Component>
                <Component Id="mercurial.Contrib.hgweb.wsgi" Guid="48953CEA-4772-4D5B-BA2F-85637685C52B">
                    <File Id="mercurial.Contrib.hgweb.wsgi" Name="hgweb.wsgi" Source="..\..\mercurial\Contrib\hgweb.wsgi" />
                    <RemoveFile Id="_2e372db5010f4922b602e7f56471ee47" On="both" Name="*.*" />
                </Component>
                <Component Id="mercurial.Contrib.mercurial.el" Guid="71E613B1-D53A-455D-A16E-E2410ABC5E8D">
                    <File Id="mercurial.Contrib.mercurial.el" Name="mercurial.el" Source="..\..\mercurial\Contrib\mercurial.el" />
                    <RemoveFile Id="_e457b4d5274d4ffabe6a849f80a0fc8d" On="both" Name="*.*" />
                </Component>
                <Component Id="mercurial.Contrib.mq.el" Guid="FC3AB9F0-32BD-4838-B254-04243D517065">
                    <File Id="mercurial.Contrib.mq.el" Name="mq.el" Source="..\..\mercurial\Contrib\mq.el" />
                    <RemoveFile Id="_6bde5cea220b41908164ec184b509cbe" On="both" Name="*.*" />
                </Component>
                <Component Id="mercurial.Contrib.tcsh_completion" Guid="B9BB5D57-220B-4EE6-885C-920C238B3CFA">
                    <File Id="mercurial.Contrib.tcsh_completion" Name="tcsh_completion" Source="..\..\mercurial\Contrib\tcsh_completion" />
                    <RemoveFile Id="_cc974948a82b450192a1db2125565c0e" On="both" Name="*.*" />
                </Component>
                <Component Id="mercurial.Contrib.tcsh_completion_build.sh" Guid="0D1FE716-B199-464B-BD0F-F3A85DBF96F1">
                    <File Id="mercurial.Contrib.tcsh_completion_build.sh" Name="tcsh_completion_build.sh" Source="..\..\mercurial\Contrib\tcsh_completion_build.sh" />
                    <RemoveFile Id="_b612be782124440cb82a0d8b75a40b4f" On="both" Name="*.*" />
                </Component>
                <Component Id="mercurial.Contrib.xml.rnc" Guid="E85F2F40-9F86-4578-8D5C-303032CC66FF">
                    <File Id="mercurial.Contrib.xml.rnc" Name="xml.rnc" Source="..\..\mercurial\Contrib\xml.rnc" />
                    <RemoveFile Id="_bff96b9ab9dc4854a7e3c840691cd52a" On="both" Name="*.*" />
                </Component>
                <Component Id="mercurial.Contrib.zsh_completion" Guid="D45098EE-1515-4917-91D5-F62DD07AD301">
                    <File Id="mercurial.Contrib.zsh_completion" Name="zsh_completion" Source="..\..\mercurial\Contrib\zsh_completion" />
                    <RemoveFile Id="_6e894ff4b8174f9e9193d2f734808b28" On="both" Name="*.*" />
                </Component>
                <Directory Id="mercurial.Contrib.Vim" Name="Vim">
                    <Component Id="mercurial.Contrib.Vim.hg_menu.vim" Guid="4D494BDB-97A8-4436-AC7D-39FB95BADC7F">
                        <File Id="mercurial.Contrib.Vim.hg_menu.vim" Name="hg-menu.vim" KeyPath="yes" Source="..\..\mercurial\Contrib\Vim\hg-menu.vim" />
                        <RemoveFile Id="_7a9d854a9590464daca156c9c1664d27" On="both" Name="*.*" />
                    </Component>
                    <Component Id="mercurial.Contrib.Vim.HGAnnotate.vim" Guid="B386FB78-CD89-4665-8C23-22190B75A2B3">
                        <File Id="mercurial.Contrib.Vim.HGAnnotate.vim" Name="HGAnnotate.vim" Source="..\..\mercurial\Contrib\Vim\HGAnnotate.vim" />
                        <RemoveFile Id="_93f13a70c93648cdb0abea3b70b0e944" On="both" Name="*.*" />
                    </Component>
                    <Component Id="mercurial.Contrib.Vim.hgcommand.vim" Guid="856172DB-A2CA-4908-B468-817F3C67BCEC">
                        <File Id="mercurial.Contrib.Vim.hgcommand.vim" Name="hgcommand.vim" Source="..\..\mercurial\Contrib\Vim\hgcommand.vim" />
                        <RemoveFile Id="_5a9cbc7feaa64c6c9acaf5bb290419cc" On="both" Name="*.*" />
                    </Component>
                    <Component Id="mercurial.Contrib.Vim.hgtest.vim" Guid="7B2EEF77-F580-493D-B611-CA24AA019F69">
                        <File Id="mercurial.Contrib.Vim.hgtest.vim" Name="hgtest.vim" Source="..\..\mercurial\Contrib\Vim\hgtest.vim" />
                        <RemoveFile Id="_3fb72166f2d64974bb9186d93bb79278" On="both" Name="*.*" />
                    </Component>
                    <Component Id="mercurial.Contrib.Vim.patchreview.txt" Guid="5E461A59-65BC-437F-AB75-03BC7A3FBDCA">
                        <File Id="mercurial.Contrib.Vim.patchreview.txt" Name="patchreview.txt" Source="..\..\mercurial\Contrib\Vim\patchreview.txt" />
                        <RemoveFile Id="_b5ed692d8f8b4cffbb6a4d4c030308f4" On="both" Name="*.*" />
                    </Component>
                    <Component Id="mercurial.Contrib.Vim.patchreview.vim" Guid="DF8C3C0B-209A-42E9-8BF8-3116D1B0D192">
                        <File Id="mercurial.Contrib.Vim.patchreview.vim" Name="patchreview.vim" Source="..\..\mercurial\Contrib\Vim\patchreview.vim" />
                        <RemoveFile Id="_f48abd1b3478413d8783b9e2f83ee38f" On="both" Name="*.*" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="mercurial.default.d" Name="default.d">
                <Component Id="mercurial.default.d.editor.rc" Guid="5CE11261-3D90-447A-B240-E57394090508">
                    <File Id="mercurial.default.d.editor.rc" Name="editor.rc" Source="..\..\mercurial\default.d\editor.rc" />
                    <RemoveFile Id="_f94e9b53391f47f2beda7eccb9250163" On="both" Name="*.*" />
                </Component>
                <Component Id="mercurial.default.d.mergetools.rc" Guid="DB7B8034-ABA8-4DB1-A388-94C9C1A4A462">
                    <File Id="mercurial.default.d.mergetools.rc" Name="mergetools.rc" Source="..\..\mercurial\default.d\mergetools.rc" />
                    <RemoveFile Id="_4000f34e932941b08751dfd027924987" On="both" Name="*.*" />
                </Component>
            </Directory>
        </DirectoryRef>
        <ComponentGroup Id="Mercurial">
            <ComponentRef Id="mercurial.add_path.exe" />
            <ComponentRef Id="mercurial.cacert.pem" />
            <ComponentRef Id="mercurial.hg.exe" />
            <ComponentRef Id="mercurial.hg.exe.local" />
            <ComponentRef Id="mercurial.library.zip" />
            <ComponentRef Id="mercurial.Mercurial.url" />
            <ComponentRef Id="mercurial.Microsoft.VC90.CRT.manifest" />
            <ComponentRef Id="mercurial.msvcm90.dll" />
            <ComponentRef Id="mercurial.msvcp90.dll" />
            <ComponentRef Id="mercurial.msvcr90.dll" />
            <ComponentRef Id="mercurial.python27.dll" />
            <ComponentRef Id="mercurial.w9xpopen.exe" />
            <ComponentRef Id="mercurial.Contrib.bash_completion" />
            <ComponentRef Id="mercurial.Contrib.hgk.tcl" />
            <ComponentRef Id="mercurial.Contrib.hgweb.fcgi" />
            <ComponentRef Id="mercurial.Contrib.hgweb.wsgi" />
            <ComponentRef Id="mercurial.Contrib.mercurial.el" />
            <ComponentRef Id="mercurial.Contrib.mq.el" />
            <ComponentRef Id="mercurial.Contrib.tcsh_completion" />
            <ComponentRef Id="mercurial.Contrib.tcsh_completion_build.sh" />
            <ComponentRef Id="mercurial.Contrib.xml.rnc" />
            <ComponentRef Id="mercurial.Contrib.zsh_completion" />
            <ComponentRef Id="mercurial.Contrib.Vim.hg_menu.vim" />
            <ComponentRef Id="mercurial.Contrib.Vim.HGAnnotate.vim" />
            <ComponentRef Id="mercurial.Contrib.Vim.hgcommand.vim" />
            <ComponentRef Id="mercurial.Contrib.Vim.hgtest.vim" />
            <ComponentRef Id="mercurial.Contrib.Vim.patchreview.txt" />
            <ComponentRef Id="mercurial.Contrib.Vim.patchreview.vim" />
            <ComponentRef Id="mercurial.default.d.editor.rc" />
            <ComponentRef Id="mercurial.default.d.mergetools.rc" />
        </ComponentGroup>
    </Fragment>
</Wix>