<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Chorus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><userSettings>
		<Chorus.Properties.Settings>
   <setting name="PathToRepository" serializeAs="String">
	<value/>
   </setting>
   <setting name="InternetEnabled" serializeAs="String">
	<value>True</value>
   </setting>
   <setting name="SharedFolderEnabled" serializeAs="String">
	<value>False</value>
   </setting>
   <setting name="ShowChorusHubInSendReceive" serializeAs="String">
	<value>True</value>
   </setting>
  </Chorus.Properties.Settings>
	</userSettings>
</configuration>
