body
{
margin-top: 0px;
 font-family: verdana,arial,helvetica,sans-serif; font-size: 12px;
}
hr {border: 1px solid #DCDCDC}

span.sender {color: Black; font-weight: bold}
span.when {color:Gray}
span.status {color: Black; font-weight: bold}
#span.statusChangeNotice {font-style: italic}

div.messageContents{margin-top:10px}
div.message{margin-top:9px; font-size:larger}
div.message.statusChange{font-style: italic; margin-top:6px}

# rounded borders CAN'T GET THIS STUFF TO WORK IN THE EMBEDDED BROWSER BUT IT'S OK IN IE and FIREFOX

.t {background: url(dot.gif) 0 0 repeat-x; width: 20em}
.b {background: url(dot.gif) 0 100% repeat-x}
.l {background: url(dot.gif) 0 0 repeat-y}
.r {background: url(dot.gif) 100% 0 repeat-y}
.bl {background: url(bl.gif) 0 100% no-repeat}
.br {background: url(br.gif) 100% 100% no-repeat}
.tl {background: url(tl.gif) 0 0 no-repeat}
.tr {background: url(tr.gif) 100% 0 no-repeat; padding:10px}


div.selected {background-color: #FFFACD}
