<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net461" />
  <package id="SIL.Core" version="8.0.0-beta0142" targetFramework="net461" />
  <package id="Vulcan.Uczniowie.HelpProvider" version="1.0.1" targetFramework="net461" />
</packages>