name: Chorus .NET6

on:
  [push, pull_request, workflow_dispatch]

jobs:
  build_test:
    env:
      NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0 # fetch full history for GitVersion
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
        source-url: https://nuget.pkg.github.com/sillsdev/index.json
    - name: Restore
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    #- name: Test
     # run: dotnet test
    - name: Pack
      run: |
        dotnet pack src/LibChorus/LibChorus.csproj
        dotnet pack src/ChorusMerge/ChorusMerge.csproj
  deploy:
    needs: build_test
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
    - name: Deploy
      run: dotnet nuget push output/*.nupkg -s https://api.nuget.org/v3/index.json -k ${{secrets.SILLSDEV_PUBLISH_NUGET_ORG}} --skip-duplicate
    
